form
{
	position:absolute;
	top:400px;
}

img
{
	height:40px;
	width:40px;
}

span
{
	color:gray;
	font-size:20px;	
	font-family: Arial, Helvetica, sans-serif;
	font-style:bold;
}

div
{
	border-style:dashed;
	border-color:blue;
	
}