form
{
	position:absolute;
	top:400px;
}

img
{
	height:40px;
	width:40px;
}

a
{
	display: inline-block;
	color:MidnightBlue;
	font-size:20px;
	bottom:10px;
	font-family: Arial, Helvetica, sans-serif;
}