form
{
	position:absolute;
	top:700px;
	background-color:#333;
	color:white;
	width:98%;
	padding:20px;
	font-family: Arial, Helvetica, sans-serif;
}

img
{
	height:400px;
	width:310px;
	vertical-align:middle;
	display:inline;
	padding:10px;
	float:left;
}
    
p
{
	top:10px;
	overflow:hidden;
	color:gray;
	font-size:24px;	
	font-family: Arial, Helvetica, sans-serif;
	font-style:bold;
	position:absolute;
}

#name
{
	top:207px;
	left:50%;
}

#phone
{
	top:274px;
	left:50%;
}

#city
{
	top:340px;
	left:50%;
}

#country
{
	top:405px;
	left:50%;
}

#linkedin
{
	top:470px;
	left:50%;
}

#email
{
	top:535px;
	left:50%;
}

#contact
{
    position:absolute;
	top:200px;
	left:30%;
}

.header
{
    position:absolute;
    width:100%;
    text-align:center;
	background-color:gray;
	font-family: Arial, Helvetica, sans-serif;
}

.firstBlock
{
	padding:10px;
}

.lastBlock
{
	padding:10px;
}

.emailBlock
{
	padding:10px;
}

.commentBlock
{
	padding:10px;
	float:right;
}
