.logo
{
	height: 50px;
	width: 50px;
}



.TAMU
{
	background-color:#500000;	
	
}

.OSU
{
	background-color:#DC4405;	
	
}

.Education
{
	width:675px;
	position: absolute;
	display: inline-block;
	left: 10px;
	top: 50px;
}

.TechnicalSkills
{

	position:absolute;
	left: 10px;
	font-size:20px;
	top: 500px;
}

.skillsList
{
	overflow:auto;
	width: 300px;
	height: 100px;
}

.WorkExperience
{
	position:absolute;
	left: 50%;
	top: 50px;
}

.download
{
	background-color:darkCyan;
	position:absolute;
	top:800px;
	font-size: 25px;
	font-family:bold;
}