.container
{
	display:flex;
}


.slideShow
{
	
	height: 600px;
	width: 700px;
	display: inline-block;
	position: absolute;
	top: 10px;
	z-index:-1;
	float: left;
	vertical-align: middle;
}

.Images
{
	position:relative;
	flex:1;
	border: 1px solid blue;
	height: 650px;
	width:50%;
}

.Intro
{
	white-space:nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align: center;
	color: gray;
	position: relative;
	border: 1px solid red;
}

.lineBreak
{
	padding-top:10px;
	margin-top:0;
	color:darkCyan;
	font-size: 50px;
}


.myName
{
	margin-top:0;
	margin-bottom:0;
	padding-top:10px;
	color: Black;
	font-size: 85px;
}

.About
{
	position:relative;
	background-color: #ddd;
}

.scrollRight
{
	background-color: Transparent;
   	font-size: 40px;
	color: white;
	font-style:bold;
	left:590px;	
	top:570px;
}

.scrollLeft
{
	background-color: Transparent;
	font-size: 40px;
	color: white;
	font-style:bold;
	left:10px;
	top:570px;	
}