

/*Used for formatting the navigation: https://www.w3schools.com/howto/howto_js_topnav.asp */


/* Add a black background color to the top navigation */

html,body
{
	height=100%
	background-color
}

button 
{
  
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	display: inline-block;
	position: absolute;
	font-style:bold;
}

h1
{
	color:#333;
}

h2
{
	color:gray;
}

h4
{
	color:#D3D3D3;
}

