

/*Used for formatting the navigation: https://www.w3schools.com/howto/howto_js_topnav.asp */


/* Add a black background color to the top navigation */

html,body
{
	height=100%;
}



h1
{
	color:#333;
}

h2
{
	color:gray;
}

h4
{
	color:#D3D3D3;
}

